* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: #e4f9f5;
  font-size: 1rem;
}

.section-one {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  color: #66bfbf;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

footer {
  background-color: #66bfbf;
}

footer p {
  color: #e4f9f5;
  text-align: center;
  padding: 10px;
}
section footer a {
  text-decoration: none;
}
