* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: #e4f9f5;
  font-size: 1rem;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-one {
  margin-top: 50px;
}

.title {
  color: #66bfbf;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  padding-bottom: 50px;
}

.programmer {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 50px;
}

.two {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.three {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.section-two {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  background-color: white;
}

.section-two h1 {
  color: #66bfbf;
  font-size: 2.5rem;
  margin: 50px;
}

.section-two p {
  color: black;
}
