*body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: #e8f8f5;
  font-size: 1rem;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.img1 {
  position: fixed;
  top: 10px;
  right: 10px;
}
